.profilePicWrapper {
  position: relative;
}

.blob {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  z-index: -1;
}

.profilePic {
  position: relative;
  top: 7px;
}
