* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

:root {
  font-size: 18px;

  --header-background: white;
}

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-zilla-slab);
}

.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid var(--accent-color);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

a {
  color: unset;
  text-decoration: none !important;
  cursor: pointer;
}

a button {
  text-decoration: none !important;
}

a:hover,
a:hover {
  color: var(--mui-palette-primary-main);
  font-weight: bold;
}
